@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #0c2b3c;
    --primary-color: #583fbc; /* rgb(88, 63, 188) */
    --secondary-color: #DBEFFA;
    --primary-hover: #4427a3;
    --text-color: #181945;
}
html {
    scroll-behavior: smooth;
    font-size: 16px;
}
body {
    margin: 0;
    font-family: 'Lexend', sans-serif;
    background-color: white;
    color: black;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
/* common style */
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
/* layouts */
.container {
    max-width: 100%;
    /* width: 90%; */
    margin: 0 auto;
    /* display: grid; */
    background: white;
    align-items: center;
}
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}
/* Header */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    max-height: 80px;
    margin: 0 auto;
    padding: 40px 80px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1)
}

.nav-left {
    display: flex;
    font-weight: 600;
    font-size: 24px;
    align-items: center;
    justify-content: space-between;

}
.nav-header__logo {
    background-color: var(--white-color);
    border-radius: 4px;
    height: 50px;
    width: 48px;
    background-repeat: no-repeat;
    background-size: contain;
}
.nav-header__name {
    font-size: 28px;
    color: var(--primary-color);
    margin: 16px 8px;
}
.nav-items {
    list-style: none;
    display: flex;
    height: auto;
    width: fit-content;
    margin: 16px 8px; 
}
.nav-item {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    padding: 15px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}
.nav-item:hover {
    /* background-color: var(--primary-color); */
    font-weight: 600;
    color: var(--primary-color);
}
.nav-item:first-child a {
    background-color: var(--primary-color);
    color: var(--primary-color);
}

.nav-right {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.nav-right a {
    /* margin-left: 8px; */
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.user-dropdown {
    position: relative;
    cursor: pointer;
    padding: 10px 0;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar-circle {
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
}

.username {
    color: var(--primary-color);
    font-weight: 600;
}

.dropdown-user {
    display: none;
    position: absolute;
    right: 0;
    top: 70%;
    background: white;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-top: 16px;
    padding: 8px 16px;
    z-index: 10;
    border: 1px solid var(--secondary-color);
}

.dropdown-user a:hover {
    background-color: #f3f3f3
}

.dropdown-user a {
    color: var(--text-color);
    padding: 8px 10px;
    display: block;
    text-decoration: none;
    transition: background 0.2s;

}

.user-dropdown:hover .dropdown-user {
    display: block;
}

/* Intro */
.intro-section {
    background: var(--secondary-color);
    padding: 5rem 2rem 3rem;
    margin-top: 80px;
    text-align: center;
    border-radius: 24px;
    max-width: 1200px;
    margin-inline: auto;
}
.intro-section h2 {
    font-weight: 600;
    font-size: 1.8rem;
}
.search-container {
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
}
.search-container input {
    width: 100%;
    padding: 12px;
    border: 2px solid #E3DFFF;
    border-radius: 24px;
    font-size: 16px;
}
.topic-section {
    max-width: 100%;
    margin: 48px auto;
    padding: 0 16px;
}

.topic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
}
.breakline {
    border-color: rgba(255,255,255,0.3); 
    margin: 16px 0 8px 0;
}

.topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
}
.subtopic-header {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
}

.view-all {
    font-size: 12px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
}

.view-all:hover {
    text-decoration: underline;
    font-weight: 600;
}

.paper-card {
    border: 1px solid rgba(88, 63, 188, 0.4);
    border-radius: 16px;
    padding: 12px 16px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}
.paper-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}
.paper-title {
    font-weight: 600;
    color: var(--text-color);
}

.paper-authors {
    font-size: 0.9rem;
    color: var(--text-color);
}
/* Footer */
footer {
    background: var(--text-color);
    color: white;
    padding: 32px 80px;
    margin-top: 64px;
}
.footer-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1120px;
    margin: 0 auto;
    gap: 32px;
    text-align: left;
}
.footer-col {
    flex: 1 1 250px;
}
.footer-col p {
    margin: 8px 0;
    font-weight: 400;
}
.social-icons {
    text-align: center;
    margin-top: 16px;
}
.social-icons img {
    width: 24px;
    margin: 0 8px;
}
.main-container {
    display: block;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin: 100px 160px 0 160px;
}

.social-icon {
    font-size: 28px;
    padding: 12px 6px;
}

/* Intro section */
.intro-section {
    background: var(--secondary-color);
    margin-top: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 20px 20px;
    max-width: 1120px;
    /* margin-inline: auto; */
    flex-wrap: wrap;
}

.intro-left {
    flex: 1 1 55%;
    text-align: left;
    padding: 0 10px;
}

.intro-left h2 {
    font-size: 32px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 16px;
}

.intro-left p {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 24px;
    line-height: 1.6;
}

.intro-right {
    flex: 1 1 35%;
    text-align: center;
}

.intro-right img {
    max-width: 250px;
    height: auto;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .intro-section {
        flex-direction: column;
        text-align: center;
    }

    .intro-left, .intro-right {
        flex: 1 1 100%;
    }
}
/* List papers */
.paper-list-container {
    max-width: 1200px;
    margin: 120px auto 2rem;
    padding: 0 1rem;
}

.paper-list-title {
    text-align: center;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 1rem;
}
/* Button filter */
.btn-filter {
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 20px 0;
}

.filter-dropdown {
    position: relative;
    display: inline-block;
}

.btn-filter {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 84%;
    left: 0;
    background-color: white;
    min-width: 220px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 999;
    padding: 12px 0;
    border: 1px solid var(--secondary-color);
}

.dropdown-content a {
    color: var(--text-color);
    padding: 8px 20px;
    display: block;
    text-decoration: none;
    transition: background 0.2s;
}

.dropdown-content a:hover {
    background-color: #f3f3f3;
}

.dropdown-content a.active {
    font-weight: 600;
    color: var(--primary-color);
    background-color: #f3f3f3
}
/* Show dropdown when hovering filter area */
.filter-dropdown:hover .dropdown-content {
    display: block;
}

.paper-list-grid {
    display: flex;
    gap: 32px;
    padding-left: 28px;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: flex-start;
}

.paper-list-card {
    flex: 0 0 calc(33.333% - 32px);
    max-width: 380px;
    border: 1px solid var(--secondary-color);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
}

.paper-list-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.paper-list-title {
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 16px;
}

.paper-list-description {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 10px;
}
/* Pagination */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 32px;
}

.pagination a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin: 0 5px;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .active {
    background-color: var(--primary-color);
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

/* Login */
.login-body {
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-container {
    background: white;
    padding: 28px 24px;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    text-align: center;
    max-width: 420px;
    width: 100%;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 24px;
}

.logo-box img {
    width: 60px;
    height: 60px;
}

.logo-box h1 {
    font-size: 32px;
    color: var(--text-color);
}

.login-field {
    display: block;
    font-weight: 600;
    color: var(--primary-color);
    text-align: left;
    margin: 18px 0 10px;
}

.input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(88, 63, 188, 0.4);
    border-radius: 15px;  
    font-size: 16px;
    outline: none;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    gap: 16px;
}

.btn-primary {
    background: var(--primary-color);
    color: white;
    min-height: 40px;
    max-width: 182px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    flex: 1;
}

.btn-outline {
    background: white;
    color: var(--primary-color);
    min-width: 40px;
    font-size: 16px;
    border: 2px solid rgba(88, 63, 188, 0.4);
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    flex: 1;
}

.btn-primary:hover {
    background-color: var(--primary-hover);
    transform: translateY(-1px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.btn-header {
    background: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-outline:hover {
    background-color: #f5f5ff;
    transform: translateY(-1px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.forgot-password {
    margin-top: 1rem;
    text-align: right;
}

.forgot-password a {
    font-size: 0.9rem;
    color: var(--text-color);
    text-decoration: underline;
}

/* Detail paper */
.paper-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.05);
    /* display: none; */
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.paper-popup {
    background: white;
    padding: 32px;
    border-radius: 15px;
    width: 600px;
    max-width: 90%;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    text-align: left;
    position: relative;
}

.paper-detail-description {
    margin: 8px 0;
    color: var(--text-color);
}

.tbl-paper {
    width: 100%;
    margin-top: 16px;
    border-collapse: collapse;
}

.tbl-content {
    text-align: left;
    padding: 8px 0;
}

.tbl-paper tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.delete-icon {
  color: red;
  cursor: pointer;
}

.add-author-link {
    margin: 10px 0;
    text-align: left;
    font-size: 14px;
    text-decoration: none;
}

.add-author-link a {
    color: var(--primary-color);
}

.add-author-link a:hover {
    color: var(--primary-hover);
}

.p-center {
    display: block;
    margin: 16px auto 0;
    padding: 10px 30px;
}

/* Hide admin-only items if not admin */
body:not(.is-admin) .admin-only {
    display: none;
}

/* Hide add-author-link if user is already an author */
body.user-is-author .add-author-link {
    display: none;
}
/* <script>
function openPopup() {
  document.getElementById("paperDetailPopup").style.display = "flex";
}

function closePopup() {
  document.getElementById("paperDetailPopup").style.display = "none";
}
</script> */

/* Search */

.search-heading {
    color: var(--primary-color);
    margin-bottom: 12px;
    font-weight: 600;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 20px 0;
}

.search-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

.form-label {
    font-weight: 600;
    margin-bottom: 6px;
    color: var(--text-color);
    font-size: 16px;
}

.date-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.search-btn-wrapper {
    text-align: center;
    /* margin-top: 20px; */
}

.search-result {
    max-width: 1000px;
    margin: 60px auto;
    text-align: center;
}

.result-count {
    margin: 12px 0;
    font-size: 16px;
    color: var(--text-color);
}

/* Profile */
.profile-container {
    max-width: 1200px;
    margin: 120px auto;
    padding: 0 32px;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.profile-avatar {
    width: 140px;
    height: 140px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background-color: white;
}

.profile-name {
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 600;
}

.profile-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 32px;
}

.profile-section {
    background: white;
    border: 1px solid #e3dfff;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.section-header h3 {
    color: var(--primary-color);
    font-weight: 600;
}

.edit-profile {
    font-size: 16px;
    color: var(--primary-color);
    text-decoration: none;
}

.edit-profile:hover {
    text-decoration: underline;
}

.user-detail {
    margin: 12px 0;
    font-size: 16px;
}

.topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.subtopic-header {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
}

.view-all {
    font-size: 0.9rem;
    color: var(--primary-color);
    text-decoration: none;
}

.view-all:hover {
    text-decoration: underline;
}
/* Add Paper */
.author-list-section {
    /* margin-top: 32px; */
    width: 60%;
}

.author-row {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    align-items: center;
}

.author-row .input-field {
    flex: 1;
}

.delete-btn {
    background: transparent;
    border: none;
    font-size: 20px;
    color: red;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.delete-btn:hover {
    transform: scale(1.2);
}

