<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeCare</title>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Frontend/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Merienda:wght@700;800&family=Montserrat:wght@300;400;500;600&display=swap"
        rel="stylesheet">
</head>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const logoutLink = document.querySelector('a[href="login.html"]');
        const popup = document.getElementById("logout-popup");
        const confirmBtn = document.getElementById("confirm-logout");
        const cancelBtn = document.getElementById("cancel-logout");

        // Khi bấm Logout -> hiện popup
        logoutLink.addEventListener("click", function (e) {
            e.preventDefault(); // chặn chuyển trang ngay
            popup.style.display = "flex";
        });

        // Xác nhận Logout
        confirmBtn.addEventListener("click", function () {
            window.location.href = "login.html";
        });

        // Hủy -> đóng popup
        cancelBtn.addEventListener("click", function () {
            popup.style.display = "none";
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const logoutLink = document.getElementById("logout-btn"); // 'a[href="index.php?action=logout"]'
        const popup = document.getElementById("logout-popup");
        const confirmBtn = document.getElementById("confirm-logout");
        const cancelBtn = document.getElementById("cancel-logout");

        // Khi bấm Logout -> hiện popup
        logoutLink.addEventListener("click", function (e) {
            e.preventDefault(); // chặn hành vi mặc định
            popup.style.display = "flex"; // hiện popup
        });

        // Xác nhận Logout
        confirmBtn.addEventListener("click", function () {
            window.location.href = "login.html"; // chuyển sang login
        });

        // Hủy -> đóng popup
        cancelBtn.addEventListener("click", function () {
            popup.style.display = "none";
        });
    });
</script>

<body>
    <div class="container">
        <!-- Header -->
        <header class="nav-container">
            <div class="nav-left">
                <img src="/Frontend/assets/images/smile-2_removebg.png" alt="Smile.png" class="nav-header__logo">
                <h1 class="nav-header__name">LifeCare</h1>
            </div>
            <div class="nav-items">
                <a class="nav-item" href="homepage.html">Homepage</a>
                <a class="nav-item" href="list_departments.html">Services</a>
                <a class="nav-item" href="#">About</a>
            </div>
            <div class="nav-right">
                <!-- <a href="index.php?action=login" class="btn-header">Login</a> -->

                <!-- If login -->
                <a href="../appt/add_appt.html" class="btn-primary">Book an appointment</a>
                <div class="user-dropdown">
                    <div class="user-info">
                        <div class="avatar-circle"></div>
                        <span class="username">Username</span>
                    </div>
                    <div class="dropdown-user">
                        <a href="profile.html">
                            <i class="fa-solid fa-file-invoice nav-item__icon"></i>
                            Profile
                        </a>

                        <!-- <a href="index.php?action=history">
                            <i class="fa-solid fa-calendar-check nav-item__icon"></i>
                            Appointment History
                        </a> -->

                        <a href="../patient/medical_records.html">
                            <i class="fa-solid fa-notes-medical nav-item__icon"></i>
                            Medical Records
                        </a>

                        <a href="javascript:void(0)" id="logout-btn">
                            <i class="fa-solid fa-right-from-bracket nav-item__icon"></i>
                            Logout
                        </a>
                    </div>
                </div>
                <!-- Logout Confirmation Popup -->
                <div id="logout-popup" class="popup-overlay">
                    <div class="popup-box">
                        <h3 class="paper-list-title">Confirm Logout</h3>
                        <p class="paper-detail-description">Are you sure you want to logout?</p>
                        <div style="margin-top: 15px;">
                            <button id="confirm-logout" class="btn-primary">Yes, Logout</button>
                            <button id="cancel-logout" class="btn-outline">Cancel</button>
                        </div>
                    </div>
                </div>

            </div>

        </header>
    </div>
    <div class="main-container">
        <section class="intro-section">
            <div class="intro-left">
                <h2>Book appointments quickly – Manage your records easily</h2>
                <p>
                    Access your medical information anytime, anywhere.
                </p>
                <a href="../appt/add_appt.html" class="btn-primary">Book an appointment</a>
            </div>
            <div class="intro-right">
                <img src="/Frontend/assets/images/banner.png" alt="Banner image">
            </div>
        </section>

        <section class="topic-section">
            <div class="topic-header">
                Popular Services
                <a href="list_departments.html" class="view-all">View All &gt;&gt;</a>
            </div>

            <hr class="breakline">

            <div class="topic">
                <h class="subtopic-header"></h>
            </div>

            <div class="info-box">
                <h3>Tai Mũi Họng</h3>
                <p class="paper-detail-description"><strong>Description: </strong>Khám tai-mũi-họng</p>
            </div>


        </section>
    </div>
    <!-- Footer -->
    <footer>
        <div class="footer-grid">
            <div class="footer-col">
                <p><strong>Subject</strong><br>Distributed System - 21HTTT - Gr01</p>
                <p><strong>Student</strong>
                    <br>21127234 - Nguyen Le Anh Chi
                    <br>21127235 - Nguyen Xuan Quynh Chi
                    <br>21127495 - Le Ngo Song Cat
                    <br>21127659 - Bui Ngoc Kieu Nhi
                </p>
            </div>
            <div class="footer-col">
                <p><strong>Monday - Saturday:</strong> 7:00 am - 9:00 pm</p>
                <p><strong>Sunday:</strong> Close</p>
            </div>
            <div class="footer-col">
                <p><strong>Address</strong><br>Nguyen Van Cu street, district 5, Ho Chi Minh city</p>
                <p><strong>Phone</strong><br>01112023</p>
            </div>
        </div>
        <hr class="breakline">
        <div class="social-icons">
            <i class="fa-brands fa-instagram social-icon"></i>
            <i class="fa-brands fa-facebook social-icon"></i>
        </div>
    </footer>
</body>