<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Paper - LifeCare</title>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Frontend/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Merienda:wght@700;800&family=Montserrat:wght@300;400;500;600&display=swap"
        rel="stylesheet">
</head>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const radios = document.querySelectorAll('input[name="patient_status"]');
        radios.forEach(radio => {
            radio.addEventListener("change", function () {
                if (this.value === "no") {
                    window.location.href = "create_profile.html";
                }
            });
        });
    });
</script>

<body>
    <div class="container">
        <!-- Header -->
        <header class="nav-container">
            <div class="nav-left">
                <img src="/Frontend/assets/images/smile-2_removebg.png" alt="Smile.png" class="nav-header__logo">
                <h1 class="nav-header__name">LifeCare</h1>
            </div>
            <div class="nav-items">
                <a class="nav-item" href="#">Homepage</a>
                <a class="nav-item" href="#">Services</a>
                <a class="nav-item" href="#">About</a>
            </div>
            <div class="nav-right">
                <!-- <a href="index.php?action=login" class="btn-header">Login</a> -->

                <!-- If login -->
                <a href="../papers/add_appt.html" class="btn-primary">Book an appointment</a>
                <div class="user-dropdown">
                    <div class="user-info">
                        <div class="avatar-circle"></div>
                        <span class="username">Username</span>
                    </div>
                    <div class="dropdown-user">
                        <a href="index.php?action=profile">
                            <i class="fa-solid fa-file-invoice nav-item__icon"></i>
                            Profile
                        </a>
                        <a href="index.php?action=logout">
                            <i class="fa-solid fa-right-from-bracket nav-item__icon"></i>
                            Logout
                        </a>
                    </div>
                </div>
            </div>

        </header>

        <!-- Main -->
        <div class="main-container">
            <section class="paper-list-container">
                <h2 class="paper-list-title">Book An Appointment</h2>
                <hr class="breakline">

                <!-- Patient Check Section -->
                <div class="info-box">
                    <h3>Patient Information</h3>
                    <p class="paper-detail-description">Have you visited our hospital before?</p>
                    <label class="paper-detail-description">
                        <input type="radio" name="patient_status" value="yes" checked>
                        Yes, I have
                    </label>
                    <label class="paper-detail-description">
                        <input type="radio" name="patient_status" value="no">
                        No, I’m a new patient
                    </label>
                </div>

                <hr class="breakline">

                <form action="payment_confirm.html" class="search-form">
                    <div class="search-row">
                        <label class="form-label" for="keyword">Department</label>
                        <select id="department" class="input-field">
                            <option value>Tai-Mũi-Họng</option>
                        </select>
                    </div>

                    <div class="search-row">
                        <label class="form-label" for="author">Doctor</label>
                        <select id="conference" class="input-field">
                            <option value>Chung</option>
                        </select>
                    </div>

                    <div class="search-row date-row">
                        <div class="search-row">
                            <label class="form-label" for="Date">Date</label>
                            <input type="date" id="date" class="input-field">
                        </div>
                        <div class="search-row">
                            <label class="form-label" for="time">Time slot</label>
                            <select id="conference" class="input-field">
                                <option value>8:00 - 8:30</option>
                            </select>
                        </div>
                    </div>

                    <div class="search-btn-wrapper">
                        <button class="btn-primary p-center">
                            Book Appointment
                        </button>
                    </div>
                </form>
            </section>
        </div>

        <!-- Footer -->
        <footer>
            <div class="footer-grid">
                <div class="footer-col">
                    <p><strong>Subject</strong><br>Distributed System - 21HTTT - Gr01</p>
                    <p><strong>Student</strong>
                        <br>21127234 - Nguyen Le Anh Chi
                        <br>21127235 - Nguyen Xuan Quynh Chi
                        <br>21127495 - Le Ngo Song Cat
                        <br>21127659 - Bui Ngoc Kieu Nhi
                    </p>
                </div>
                <div class="footer-col">
                    <p><strong>Monday - Saturday:</strong> 7:00 am - 9:00 pm</p>
                    <p><strong>Sunday:</strong> Close</p>
                </div>
                <div class="footer-col">
                    <p><strong>Address</strong><br>Nguyen Van Cu street, district 5, Ho Chi Minh city</p>
                    <p><strong>Phone</strong><br>01112023</p>
                </div>
            </div>
            <hr class="breakline">
            <div class="social-icons">
                <i class="fa-brands fa-instagram social-icon"></i>
                <i class="fa-brands fa-facebook social-icon"></i>
            </div>
        </footer>
    </div>
</body>

</html>